@model EmployeeViewModel

@{
    var departments = new SelectList(ViewData["Departments"] as IEnumerable<Department>, "Id", "Name");
}

<div class="form-group">
    <label asp-for="@Model.Name" class="col-form-label"></label>
    <input asp-for="@Model.Name" class="form-control" />
    <span asp-validation-for="@Model.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Age" class="col-form-label"></label>
    <input asp-for="@Model.Age" class="form-control" />
    <span asp-validation-for="@Model.Age" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Address" class="col-form-label"></label>
    <input asp-for="@Model.Address" class="form-control" />
    <span asp-validation-for="@Model.Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Email" class="col-form-label"></label>
    <input asp-for="@Model.Email" class="form-control" />
    <span asp-validation-for="@Model.Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Salary" class="col-form-label"></label>
    <input asp-for="@Model.Salary" class="form-control" />
    <span asp-validation-for="@Model.Salary" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.PhoneNumber" class="col-form-label"></label>
    <input asp-for="@Model.PhoneNumber" class="form-control" />
    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.IsActive" class="col-form-label"></label>
    <input asp-for="@Model.IsActive" class="form-check" />
    <span asp-validation-for="@Model.IsActive" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.HiringDate" class="col-form-label"></label>
    <input asp-for="@Model.HiringDate" class="form-control" />
    <span asp-validation-for="@Model.HiringDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.WorkFor" class="col-form-label"></label>
    <select asp-for="WorkForId" asp-items="departments" class="form-control">
        <option value="@null">-- Select Department --</option>
    </select>
    <span asp-validation-for="@Model.HiringDate" class="text-danger"></span>
</div>
