@model Department

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Department @Model.Name</h1>
<br />
<br />

<form asp-action="Delete">
    <div class="form-group">
        <label asp-for="@Model.Code" class="col-form-label"></label>
        <input asp-for="@Model.Code" class="form-control" readonly />
        <span asp-validation-for="@Model.Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Name" class="col-form-label"></label>
        <input asp-for="@Model.Name" class="form-control" readonly />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.DateOfCreation" class="col-form-label"></label>
        <input asp-for="@Model.DateOfCreation" class="form-control" readonly />
    </div>

    <div class="d-flex mt-4 gap-2">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>